@charset "UTF-8";

/*
///////////////////////////////////////
 PostList
///////////////////////////////////////
*/

.postlist {
	float: left;
	width: 340px;
	padding: 0 15px 40px;
}

.postlist a {
	display: block;
}

.postlist a:hover .postSocial {
	opacity: 1;
}
.postlist a:hover .postlist__head,
.postlist a:hover .postlist__desc {
	color:#0096b4;
}

.postlist a:hover .postlist__info--mask {
	opacity: 1;
}

.postlist__info {
	position: relative;
	margin-bottom: 20px;
}

.postlist__info--mask {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
	background: rgba(0, 0, 0, .7);
	opacity: 0;
	-webkit-transition: opacity 0.35s;
	transition: opacity 0.35s;
}

.postlist__head {
	margin-bottom: 10px;
	color: #111111;
	font-size: 15px;
	font-size: 1.5rem;
	text-align: center;
	line-height: 1.4;
	-webkit-transition: color 0.35s;
	transition: color 0.35s;
}
.postlist__thum {
	margin-bottom: 18px;
}

.postlist__body {
	padding-bottom: 20px;
	background:url(../img/list_border.png) no-repeat left bottom;
}

.postlist__desc {
	margin-bottom: 20px;
	font-size: 11px;
	font-size: 1.1rem;
	line-height: 1.9;
	-webkit-transition: color 0.35s;
	transition: color 0.35s;
}

/*
///////////////////////////////////////
 postSocialList
///////////////////////////////////////
*/
.postSocial {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 200px;
	height: 40px;
	margin: auto;
	z-index: 10;
	opacity: 0;
	color: #fff;
	-webkit-transition: opacity 0.35s;
	transition: opacity 0.35s;
}

.postSocial__list {
	display:table;
	float:left;
	z-index: 30;
}

.postSocial__list + .postSocial__list {
	margin-left: 20px;
}

.postSocial__list-facebook,
.postSocial__list-twitter,
.postSocial__list-hatena {
	display: table-cell;
	float: left;
	width: 25px;
	height: 25px;
	padding-right:5px;
}

.postSocial__list-facebook {
	background: url(../img/icon/icon_facebook.svg) no-repeat;
	background-size: 25px 25px;
}

.postSocial__list-twitter {
	background: url(../img/icon/icon_twitter.svg) no-repeat;
	background-size: 25px 25px;
}

.postSocial__list-hatena {
	background: url(../img/icon/icon_google.svg) no-repeat;
	background-size: 25px 25px;
}

.postSocial__list-number {
	display:table-cell;
	vertical-align: middle;
}


